<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Aleo-Bold.ttf</string>
		<string>Aleo-BoldItalic.ttf</string>
		<string>Aleo-Italic.ttf</string>
		<string>Aleo-Light.ttf</string>
		<string>Aleo-LightItalic.ttf</string>
		<string>Aleo-Regular.ttf</string>
		<string>Baskervville-Italic.ttf</string>
		<string>Baskervville-Regular.ttf</string>
		<string>Baskerville SemiBold.ttf</string>
	</array>
</dict>
</plist>
